@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

.success-alert-hide {
  opacity: 0;
  transition: all 250ms linear 1s;
}

.success-alert-show {
  opacity: 1;
  transition: all 250ms linear;
}

.fullHeight {
  height: calc(100vh - 50px);
}

.top-right-rounded {
  border-top-right-radius: 0.25rem;
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
